<template>
    <require from="../../../extensions/progress/progress.dialog.html"></require>
    <div class="admin-container">
        <div class="row">
          <div class="col-9">
              <h3 class="card-title">Staff </h3>
          </div>
          <div class="col-3">
              <button disabled.bind="!dboAccounts.accounts" type="button" class="btn btn-sm btn-secondary btn-block" data-toggle="modal" data-target="#staff">Add Staff</a>
          </div>
        </div>
        <div class="row card card-body" if.bind="!dboAccounts.accounts">
          <div class="col-3" style="text-align: center; margin: auto;">
            <span class="spinner-border spinner-border-sm" style="width: 3rem; height: 3rem; margin-bottom: 20px;" role="status" aria-hidden="true"></span><br>
            <label>Even geduld aub...</label>
          </div>
        </div>
        <div if.bind="dboAccounts.accounts">
            <div class="panel panel-default panel-body" if.bind="dboAccounts.accounts.length == 0" style="text-align: center;">No users so far.</div>
            <div class="card card-body mt-3" if.bind="dboAccounts.accounts.length > 0">
                <table class="display nowrap table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="account of dboAccounts.accounts">
                            <td>${ account.user.firstName }</td>
                            <td>${ account.user.lastName }</td>
                            <td>${ account.email }</td>
                            <td>
                              <a class="btn btn-sm btn-icon btn-pure btn-outline" href="#/admin/users/staff/?id=${account.id}"><i class="icon-note"></i></a>
                              <!--<a href="#" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="icon-trash"></i></a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="width: 100%;" if.bind="dboAccounts.accounts.length > 0">
                  <nav style="float: right" aria-label="...">
                    <ul class="pagination">
                      <li class.bind="(dboAccounts.page == 1)? 'page-item disabled' : 'page-item'">
                        <a class="page-link" tabindex="-1" click.delegate="previous()">Previous</a>
                      </li>
                      <li class.bind="((p + 1) == dboAccounts.page)? 'page-item active': 'page-item'" repeat.for="p of dboAccounts.pageCount"><a class="page-link" click.delegate="goToPage(p + 1)"> ${p + 1} <span class="sr-only" if.bind="isActive((p + 1), dboAccounts.page)">(current)</span></a></li>
                      <li class.bind="(dboAccounts.page == dboAccounts.pageCount)? 'page-item disabled' : 'page-item'">
                        <a class="page-link" click.delegate="next()">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
            </div>
        </div>
    </div>

    <!--Create User Modal-->
    <div id="staff" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-left: 0px !important;">
        <div class="modal-dialog" style="max-width: 30%; margin-bottom: 0px !important;">
            <div class="modal-content" style="border: 0px;height: 100%;">
                <form submit.delegate="AttachRoles()">
                    <div class="modal-header" style="background: #6c757d; color: #fff;">
                        <h4 class="modal-title" id="myModalLabel">Add Staff</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #x_store style="color: #fff;">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Stylist's Email</label>
                                    <input type="text" value.bind="email" class="form-control" placeholder="Email Address" change.delegate="accountChanged()" disabled.bind="isBusy">
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="${ isValid? 'form-control' : 'valid form-control' }" class="form-control" value.bind="account.type" disabled.bind="!account || isBusy">
                                        <option model.bind="undefined">Choose</option>
                                        <option model.bind="0">Client</option>
                                        <option model.bind="1">Management</option>
                                        <option model.bind="2">Employee</option>
                                        <option model.bind="3">SubContractor</option>
                                    </select>
                                </div>
                                <div class="form-group" hidden.bind="account.type == 1">
                                    <label>Branch Affiliated</label>
                                    <select class="${ isValid? 'form-control' : 'valid form-control' }" value.bind="account.branchId" disabled.bind="!account || isBusy">
                                        <option model.bind="undefined">Choose</option>
                                        <option repeat.for="branch of storeService.store.branches" model.bind="branch.id">${ branch.name }</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="width: 100%;bottom: 0;">
                        <button if.bind="isBusy" type="button" class="btn btn-secondary waves-effect btn-sm" style="width: 120px;">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Please wait...
                        </button>
                        <button type="button" class="btn btn-secondary waves-effect btn-sm" style="width: 120px;" if.bind="!account && !isBusy" click.delegate="findAccount()">Search</button>
                        <button type="submit" class="btn btn-secondary waves-effect btn-sm" style="width: 120px;" if.bind="account && !isBusy">Save</button>
                        <button type="button" class="btn btn-outline-secondary waves-effect btn-sm" data-dismiss="modal" style="width: 120px;" disabled.bind="isBusy">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="invitation" class="modal fade in" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header" style="border: 0;padding: 0;">
                  <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body" style="text-align: center;">
                <div class="card-body">
                    <h4 class="card-title">${ message.title }</h4>
                    <label>${ message.message }</label>
                </div>
                <div class="form-group">
                  <label>Select Staff Role</label>
                  <select class="form-control" class="form-control" value.bind="account.type" disabled.bind="isBusy">
                      <option model.bind="undefined">Choose</option>
                      <option model.bind="1">Management</option>
                      <option model.bind="2">Employee</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                  <button if.bind="!isBusy && email" type="button" class="btn btn-secondary btn-sm waves-effect" style="min-width: 120px; padding: .2rem .75rem;" click.delegate="sendInvitation()">Send Invitation</button>
                  <button if.bind="isBusy" type="button" class="btn btn-secondary waves-effect btn-sm" style="width: 120px;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Please wait...
                  </button>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>

    <div id="info" class="modal fade in" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header" style="border: 0;padding: 0;">
                  <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body" style="text-align: center;">
                  <div class="card-body">
                      <h4 class="card-title">${ message.title }</h4>
                      <label>${ message.message }</label>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm waves-effect" data-dismiss="modal" style="min-width: 120px; padding: .2rem .75rem;">Ok</button>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
    <progress.dialog></progress.dialog>
</template>
