<template>
  <require from="../page/pager/pager.html"></require>
  <div class="row" if.bind="!_storeService.store" style="padding: 175px 0px; height: 100%">
    <div class="col-3" style="text-align: center; margin: auto;">
      <span class="spinner-border spinner-border-sm" style="width: 3rem; height: 3rem; margin-bottom: 20px;" role="status" aria-hidden="true"></span><br>
      <label>Even geduld aub...</label>
    </div>
  </div>
  <div if.bind="_storeService.store" style="min-height: 350px;">
    <pager if.bind="_storeService.mainpage" page.bind="_storeService.mainpage" pager.bind="_pager"></pager>
    <div if.bind="!_storeService.mainpage" class="row" style="vertical-align: middle; text-align: center; margin: 200px 0px;">
      <div class="col-12">
        <h2>No main page has been built or selected yet</h2>
        <label>Please make the necessary changes in the admin page section</label>
      </div>
    </div>
  </div>
</template>
